
img {
  width: 25% !important;
}

.p-inputgroup-addon {
  background: #40AAF5;
}

.pi {
  color: white;
}

.p-inputgroup input:last-child{
  border: 2px solid #40AAF5;
}

#required_msg {
  color: red;
  font-weight: bold;
}


