<p-card
  header="Cambio de contraseña"
  subheader="Ingrese los datos para cambiar las credenciales de acceso"
  styleClass="main-card"
>
  <form [formGroup]="form">
    <div class="p-inputgroup field">
      <span class="p-inputgroup-addon">
        <i class="fa fa-solid fa-fingerprint"></i>
      </span>
      <input
        pInputText
        placeholder="Contraseña actual"
        formControlName="oldPassword"
      />
    </div>
    <div class="p-inputgroup field">
      <span class="p-inputgroup-addon">
        <i class="fa fa-solid fa-lock"></i>
      </span>
      <input
        pInputText
        placeholder="Contraseña nueva"
        formControlName="newPassword"
      />
    </div>
    <div class="p-inputgroup field">
      <span class="p-inputgroup-addon">
        <i class="fa fa-solid fa-lock"></i>
      </span>
      <input
        pInputText
        placeholder="Repita la contraseña actual"
        formControlName="newPasswordRepeat"
      />
    </div>
    <p
      *ngIf="
        form.get('oldPassword').invalid ||
        form.get('newPassword').invalid ||
        form.get('newPasswordRepeat').invalid
      "
      id="required_msg"
    >
      ¡Es obligatorio rellenar todos los campos!
    </p>
  </form>

  <ng-template pTemplate="footer">
    <p-button
      label="Volver"
      icon="fa-solid fa-backward"
      (onClick)="backToProfile()"
      styleClass="secundary-button p-button"
    ></p-button>
    <p-button
      label="Actualizar"
      icon="fa fa-solid fa-pen-fancy"
      styleClass="primary-button p-button"
      [disabled]="!form.valid"
      (onClick)="onSubmit()"
    ></p-button>
  </ng-template>
</p-card>

<p-confirmDialog [style]="{ width: '25em' }"></p-confirmDialog>
<p-toast position="bottom-center"></p-toast>
