.p-inputgroup-addon {
    background: #40AAF5;
    //color: white;
  }
  
  .pi {
    color: blue;
  }
  
  .p-inputgroup input:last-child{
    border: 2px solid #40AAF5;
  }
  
  #required_msg {
    color: red;
    font-weight: bold;
  }